{% extends "layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
    <br />
        <div class="panel-group col-sm-12 col-md-12 col-lg-12" id="accordionIndividual" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="individual">
                    <h3 class="panel-title">
                        <a class="link" href="#collapseIndividual" data-toggle="collapse" data-parent="#accordionIndividual">
                            B&uacute;squeda Individual
                        </a>
                    </h3>
                </div>
                <div id="collapseIndividual" class="panel-collpase collapse">
                    <div class="panel-body">
                    {{ form_start(form, { 'action' : path('find'), 'attr' : { 'class' : 'form-inline', 'id' : 'find_form' } }) }}
                    <fieldset>
                        <div class="row row-centered">
                            <div class="form-group">
                                {{ form_label(form.isbn) }}
                                <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>
                                    {{ form_widget(form.isbn, { 'attr' : { 'class' : 'form-control' } } ) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.api) }}
                                {{ form_widget(form.api, { 'attr' : { 'class' : 'form-control' } } ) }}
                            </div>
                            {{ form_widget(form.search, { 'attr' : { 'class' : 'btn btn-primary' } }) }}
                        </div>
                        {{ form_end(form) }}
                    </fieldset>
                        <div class="jumbotron hide" id="jumbotronFind"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-12">
     <div class="panel-group col-sm-12 col-md-12 col-lg-12" id="accordionMultiple" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="multiple">
                    <h3 class="panel-title">
                        <a class="link" href="#collapseMultiple" data-toggle="collapse" data-parent="#accordionMultiple">
                            B&uacute;squeda M&uacute;ltiple
                        </a>
                    </h3>
                </div>
                <div id="collapseMultiple" class="panel-collpase collapse">
                    <div class="panel-body">
                        {{ form_start(upload, { 'action' : path('upload'), 'attr' : { 'class' : 'form-inline', 'id' : 'upload_form' } }) }}
                        <fieldset>
                            <div class="row row-centered">
                                <div class="form-group">
                                    {{ form_label(upload.file) }}
                                    {{ form_widget(upload.file) }}
                                    <p class="help-block">Solo se permite archivos Excel de 2 Mb.</p>
                                    <img src='{{ asset('images/poweredby.png') }}' />
                                </div>
                                {{ form_widget(upload.upload, { 'attr' : { 'class' : 'btn btn-primary' } }) }}

                            </div>
                            {{ form_end(upload) }}
                            <div class="row row-centered">
                                <img src=" {{ asset('images/ajax-loader.gif') }}" id="loading" style="display:none;" />
                                <br />
                                <br />
                            </div>
                        </fieldset>
                        <div class="jumbotron hide" id="jumbotronUpload"></div>
                    </div>
                </div>
            </div>
     </div>
    </div>
    <div class="col-md-12">
        <div class="panel-group col-sm-12 col-md-12 col-lg-12" id="accordionDescarga" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="descarga">
                    <h3 class="panel-title">
                        <a class="link" href="#collapseDescarga" data-toggle="collapse" data-parent="#accordionDescarga">
                            Descarga de Archivos
                        </a>
                    </h3>
                </div>
                <div id="collapseDescarga" class="panel-collpase collapse">
                    <div class="panel-body">
                        {{ form_start(download, {'action' : path('download'), 'attr' : {'class' : 'form-inline', 'id' : 'download_form'} }) }}
                        <fieldset>
                            <div class="row row-centered">
                                <div class="form-group">
                                    {{ form_label(download.files) }}
                                    {{ form_widget (download.files, { 'attr' : { 'class' : 'form-control' } }) }}
                                </div>
                            <br />
                            <div class="btn-group">
                                <br/>
                                {{ form_widget(download.download, { 'attr' : { 'class' : 'btn btn-primary' } }) }}
                            </div>
                            </div>
                            {{ form_end(download) }}
                        </fieldset>
                        <div class="row row-centered">
                            <iframe id="dwnld-iframe" style="display:none;"></iframe>
                            <img src=" {{ asset('images/ajax-loader.gif') }}" id="loadingDownload" style="display:none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
       $(document).ready(function () {
            $("#find_form").submit(function (event) {
                var values = {};
                var form = $("#find_form");
                $.each( form.serializeArray(), function(i, field) {
                  values[field.name] = field.value;
                });
                $.ajax({
                    url: "{{ path("find") }}",
                    method: "POST",
                    data: values,
                    dataType: 'json',
                    encode: true
                })
                .done(function (data){
                    console.log(data);
                    $("#jumbotronFind").html(data);
                    $("#jumbotronFind").attr('class', 'jumbotron show');
                });
                event.preventDefault();
            });

            $("#upload_form").on("submit", function(e){
                e.preventDefault();
                var f = $(this);
                var fData = new FormData(document.getElementById('upload_form'));
                $("#loading").show();
                $.ajax({
                    url: "{{ path("upload") }}",
                    method: "POST",
                    data: fData,
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false
                })
                .done(function(data) {
                    console.log(data);
                            $("#jumbotronUpload").html(data);
                            $("#jumbotronUpload").attr('class', 'jumbotron show');
                            //$("#dwnld-iframe").attr('src', data);
                            $("#loading").hide();

                });
            });
           $("#download_form").on("submit", function(event){
               event.preventDefault();
               var f = $(this);
               var fData = new FormData(document.getElementById('download_form'));
               $("#loadingDownload").show();
               $.ajax({
                   url: "{{ path("download") }}",
                   method: "POST",
                   data: fData,
                   dataType: 'json',
                   cache: false,
                   contentType: false,
                   processData: false
               }).done(function(data){
                   console.log(data);
                   $("#dwnld-iframe").attr('src', data);
                   $("#loadingDownload").hide();
               });
           });
        });
    </script>
{% endblock %}